<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<%= Date.today %>
<%= Date.today.strftime("%d/%m/%y") %>
<%= br_date(Date.today) %>

<table class="highlight responsive-table striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Code</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.description %></td>
        <td><%= formata_cep(city.code) %></td>
        <td><%= city.state.description %></td>
        <td><%= image_tag city.image , size: "100x100" %></td>
        <td><%= link_to t('links.show'), city %></td>
        <td><%= link_to t('links.edit'), edit_city_path(city) %></td>
        <td><%= link_to t('links.destroy'), city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
