<!DOCTYPE html>
<html>
  <head>
    <title>Projetinho2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbo-links-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolink-track': 'reload' %>

  </head>

  <body>
    <%= yield %>

    <p><%= link_to 'English', '/?locale=en' %> <p>
    <p><%= link_to 'Português', root_path(locale: "pt-BR") %><p>
  </body>
</html>
